<table class="cashes">
  <tbody><%= render cashes %></tbody>

  <tbody>
    <tr>
      <td class="name">Остаток на конец:</td>
      <td class="sum"><%= money Cash.at_end %></td>
    </tr>

    <tr>
      <td class="name">Баланс:</td>
      <td class="sum"><%= money Cash.balance %></td>
    </tr>

    <tr>
      <td class="new" colspan="2"><%= link_to '+++', [:new, :cash], :remote => true %></td>
    </tr>
  </tbody>
</table>
