<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" 
                       "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>EnvironmentVariables</key>
    <dict>
      <key>PORT</key>
      <string>3001</string>
      <key>RAILS_ENV</key>
      <string>production</string>
      <key>SECRET_KEY_BASE</key>
      <string>48461d1e449034bd177652b506b20435a342709c451962bb2fedb6bd2ce2f1360d654f65d6a20aa82bfd5fcac48509670632f1270e2b16a075bef4c8fa334ddb</string>
    </dict>
    <key>KeepAlive</key>
    <false/>
    <key>Label</key>
    <string>balance</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/tksasha/.ruby/bin/ruby</string>
      <string>/Users/tksasha/.ruby/bin/puma</string>
      <string>-C</string>
      <string>config/puma.rb</string>
      <string>/Users/tksasha/balance/config.ru</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>WorkingDirectory</key>
    <string>/Users/tksasha/balance</string>
  </dict>
</plist>
