<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" 
                       "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key><string>balance</string>
    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/Users/tksasha/.ruby/bin:/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin</string>
    </dict>
    <key>ProgramArguments</key>
    <array>
      <string>unicorn_rails</string>
      <string>-c</string>
      <string>/Users/tksasha/balance/config/unicorn.rb</string>
      <string>-E</string>
      <string>production</string>
      <string>-D</string>
    </array>
    <key>KeepAlive</key><false/>
    <key>WorkingDirectory</key>
    <string>/Users/tksasha/balance</string>
    <key>StandardErrorPath</key><string>/Users/tksasha/balance/log/unicorn.stderr.log</string>
    <key>LaunchOnlyOnce</key><false/>
  </dict>
</plist>
