<td class="<%= consolidate[:income] ? 'income' : 'expence' %>">
  <div class="category">
    <div class="name">
      <%= consolidate[:category_name] %>
    </div>
    <div class="sum">
      <%= link_to sum(consolidate[:sum]), "/#{ @year }/#{ @month }/#{ consolidate[:category_url] }", :remote => true %>
    </div>
  </div>
</td>
