<table class="consolidates">
  <tbody id="consolidates">
    <% consolidates.each do |item| %>
      <td class="<%= item[:income] ? 'income' : 'expence' %>">
        <div class="category">
          <div class="name">
            <%= item[:category_name] %>
          </div>
          <div class="sum">
            <a href="#"><%= sum item[:sum] %></a>
          </div>
        </div>
      </td>
    <% end %>
  </tbody>
</table>
