<tr id="item_<%= item.id %>">
  <td class="date"><%= link_to item.date, items_path(year: 2013, month: '03', day: 26) %></td>

  <td class="sum"><%= item.money %></td>
  
  <td class="category"><%= item.category_name %></td>
</tr>
