.b-form {
  width: 734px;
  margin: 5px auto;
}

.ui-dialog .b-form {
  height: 30px;
  margin-top: 15px;
}

.b-form .input-wrapper {
  margin: 5px;
  display: inline-block;
  height: 40px;
}

.b-form .input-wrapper .date,
.b-form .input-wrapper .sum,
.b-form .input-wrapper .category,
.b-form .input-wrapper .description,
.b-form .input-wrapper .submit {
  padding: 2px;
  border-radius: 3px;
  border: 1px solid #494;
}

.b-form .input-wrapper .field_with_errors .date,
.b-form .input-wrapper .field_with_errors .sum,
.b-form .input-wrapper .field_with_errors .description,
.b-form .input-wrapper .field_with_errors .submit {
  border: 0;
  box-shadow: 0 0 1px 1px red;
}

.b-form .input-wrapper .field_with_errors .category {
  outline-color: red;
  outline-width: 1px;
}

.b-form .input-wrapper .field_with_errors .date:focus,
.b-form .input-wrapper .field_with_errors .sum:focus,
.b-form .input-wrapper .field_with_errors .category:focus,
.b-form .input-wrapper .field_with_errors .description:focus {
  box-shadow: 0 0 1px 2px red;
}

.b-form .input-wrapper .date:focus,
.b-form .input-wrapper .sum:focus,
.b-form .input-wrapper .category:focus,
.b-form .input-wrapper .description:focus {
  outline: none;
  box-shadow: 0 0 3px 1px #494;
}

.b-form .input-wrapper .date {
  width: 69px;
  text-align: center;
}

.b-form .input-wrapper .sum {
  width: 50px;
  text-align: right;
}

.b-form .input-wrapper .category {
  height: 21px;
}

.b-form .input-wrapper .submit {
  padding: 2px 8px;
}
