.b-items { width: 60%; margin: 10px auto }

.b-items .row.odd { background: #eee }

.b-items .row.even { background: white }

.b-items .row:hover { background: #777; color: white; }

.b-items .row:hover a { color: white }

.b-items .header .sum,
.b-items .header .date { width: 80px; }

.b-items .header .category { width: 169px; }
