.item-form {
  margin: 20px 0 0;
}

.item-form .form-control {
  margin-right: 5px;
  display: inline-block;
}

.item-form__date {
  width: 15%;
  text-align: center;
}

.item-form__formula {
  width: 20%;
  text-align: right;
}

.item-form__category-id {
  width: 20%;
  margin-top: -3px;
}

.item-form__description {
  width: 30%;
}

.item-form__submit {
  margin-top: -3px;
}

.item-form .form-control,
.item-form__submit {
  display: inline-block;
  font-size: 14px;
}
