@import "variables";

.menu {
  border-radius: 0;
  box-shadow: 0 0 3px 1px #eee;
}

.menu__row {
  text-align: center;
  padding: 11px 0 6px;
  //outline: 1px solid #eee;
}

.menu__row + .menu__row {
  padding-top: 0;
}

.menu__item {
  display: inline-block;
  padding: 0px 9px;
  margin-bottom: 3px;
}

.menu__item_active,
.menu__item_active:hover {
  background-color: $brand-primary;
  color: white;
  border-radius: 3px;
  border: none;
}
