@import "variables";

.menu {
  border-radius: 0;
  box-shadow: 0 0 3px 1px #eee;

  .row {
    text-align: center;
    padding: 10px 0;
  }

  .row + .row {
    padding-top: 0;
    padding-bottom: 10px;
  }
}
